.hangman {
  width: 100%;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hangman img {
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .hangman img {
    width: 400px;
  }
}
